.nav-bar {
  text-align: right;
  flex: auto;
  color: whitesmoke;
  background-color: cornflowerblue;
  min-height: 5vh;
}

.nav-bar > ul {
  list-style-type: none;
  margin: 0;
  padding-top: 10px;
}

.nav-bar > ul > li {
  display: inline;
  margin-right: 10px;
}

.nav-bar > ul > li > a {
  text-decoration: none;
  color: aliceblue;
}
